<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486450919235-mck8ek79dn9q4gtj1abq5rohh9k133rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486450919235-mck8ek79dn9q4gtj1abq5rohh9k133rf</string>
	<key>API_KEY</key>
	<string>AIzaSyArUVYGUNkJ0kJKIHYW2Sl7e6AqxAhBfQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>486450919235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.co.janice.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>janice-mynotes-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>janice-mynotes-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486450919235:ios:16fc64ccdb084be75721f6</string>
</dict>
</plist>